<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>topinfo</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../../static/css/common.css">
    <link rel="stylesheet" th:href="@{/css/topinfo.css}" href="../../static/css/topinfo.css">
</head>
<body>
<header class="topinfo" th:fragment="topinfo">
    <h1 class="topinfo__title">사내 메신저</h1>
    <div class="topinfo__auth">
        <button type="button" class="topinfo__login-btn">로그인</button>
    </div>
</header>
</body>
</html>
